/* UNIVERSAL */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}


/* ROOT STYLES */

* {
    font-family: 'Lato', Helvetica, sans-serif;
}

.content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.content p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 30px;
    font-size: 18px;
    color: blue;
}

.boldunderline {
    font-weight: 600;
    text-decoration: underline;
    color: blue;
}

.bold {
    font-weight: 600;
    color: blue;
}


@media only screen and (min-width: 33.75em) {
    /* 540px */

}

@media only screen and (min-width: 45em) {
    /* 720px */
}

@media only screen and (min-width: 60em) {
    /* 960px */
    .content {
        width: 40%;
        padding-top: 25%;
        margin-left: auto;
        margin-right: auto;
    }
    .content p {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        line-height: 25px;
        font-size: 15px;
    }
}
