/* UNIVERSAL */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}


/* ROOT STYLES */

* {
    font-family: 'Lato', Helvetica, sans-serif;
}

.content {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
	height: 100vh;
	display: flex;
	align-items: center;
}

.content p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 30px;
    font-size: 18px;
    color: blue;
}

.projects {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 200px;
    padding-bottom: 25%;
}

.boldmail {
    font-weight: 600;
    color: blue;
}

.bold {
    font-weight: 600;
    /*text-decoration: underline;*/
    color: blue;
}

.boldhidden {
    visibility: hidden;
    font-weight: 600;
    /*text-decoration: underline;*/
    color: blue;
}

.descriptionhidden {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 0px;
    font-size: 14px;
    color: blue;
    padding-bottom: 5%;
    font-style: italic;
    visibility: hidden;
}

.boldblue {
    font-weight: 600;
    color: blue;
}

.video {
    /*padding-bottom: 10%;*/
}

.projecttitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 30px;
    font-size: 18px;
    color: blue;
    line-height: 0px;
    padding-bottom: 5%;
}

.description {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 0px;
    font-size: 14px;
    color: blue;
    padding-bottom: 5%;
    font-style: italic;
}

.pixl {
    height: 100%;
    width: auto;
    display: block;
    margin: auto;
}

@media only screen and (min-width: 33.75em) {
    /* 540px */
}

@media only screen and (min-width: 45em) {
    /* 720px */
}

@media only screen and (min-width: 60em) {
    /* 960px */
    .content {
        width: 42%;
        padding-top: 200px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10%;
    }
    .content p {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 200;
        line-height: 25px;
        font-size: 15px;
    }
    .projects {
        width: 90%;
        height: 600px;
        padding-bottom: 15%;
        margin-left: auto;
        margin-right: auto;
    }
}
